name: External Trigger Auto Run

on:
  workflow_dispatch:

jobs:
  run-worker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install firebase-admin node-fetch

      - name: Run Worker Script
        run: node worker/autorun.js
        env:
          # --- KUNCI UTAMA ---
          # Kita memasukkan 1 file JSON utuh ke variabel ini
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          
          # Masukkan API Key lain jika ada (misal KHFY)
          KHFY_API_KEY: ${{ secrets.KHFY_API_KEY }}
